body {
    font-family: "Brush Script MT", sans-serif;
    background-color: #eee;
}
.card {
    margin: 16px auto;
    padding: 8px;
    background-color: #fff;
    width: 1000px;
}

h1 {
    font-weight: bold;
}

#broccoli {
    color: darkgreen;
}

button {
    background-color: rgb(126, 97, 126);
}

a {
    color: rgb(115, 199, 255);
}